## Normalize Data Before Fit in the Data Set

In [34]:
import pandas as pd
import numpy as np
import xgboost as xgb

In [35]:
train = pd.read_csv('train_c.csv')
test = pd.read_csv('test_c.csv')

In [36]:
col = list(test.columns)[2:]

In [37]:
label = np.log(train['price_doc'])

In [38]:
dtrain = xgb.DMatrix(train[col],label)
dtest = xgb.DMatrix(test[col])

In [39]:
params = {
    'eta': 0.05, ## Try 0.01,3,5
    'max_depth': 5,## Try 4,5,6
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'silent': 1
}

In [40]:
xgb_cvalid = xgb.cv(params, dtrain, num_boost_round=1000, early_stopping_rounds=20,
    verbose_eval=50, show_stdv=False,seed=42)
xgb_cvalid[['train-rmse-mean', 'test-rmse-mean']].plot()
print('Performance does not improve from '+str(len(xgb_cvalid))+' rounds')

[0]	train-rmse:14.3665	test-rmse:14.3665
[50]	train-rmse:1.20143	test-rmse:1.20766
[100]	train-rmse:0.443987	test-rmse:0.475624
[150]	train-rmse:0.419087	test-rmse:0.464555
[200]	train-rmse:0.406446	test-rmse:0.4635
[250]	train-rmse:0.395101	test-rmse:0.463046
Performance does not improve from 256 rounds

In [41]:
model = xgb.train(params,dtrain,num_boost_round=len(xgb_cvalid))

In [42]:
pred = model.predict(dtest)

In [48]:
def get_feature_importance(model):
    Importance = model.get_fscore()
    Importance = list(Importance.items())
    Feature= []
    Score = []
    for each in Importance:
        Feature.append(each[0])
        Score.append(each[1])
    df = pd.DataFrame({'Feature':Feature,'Score':Score}).sort_values(by=['Score'],ascending=[0])
    return df

In [49]:
get_feature_importance(model)

                          Feature  Score
39                        full_sq    528
43                          floor    205
149                       life_sq    198
177                    build_year    181
151                     max_floor    146
224                 green_zone_km     91
84                kindergarten_km     79
117                metro_min_avto     79
130                         state     74
210                      kitch_sq     73
238                     mosque_km     72
79                    railroad_km     72
41    public_transport_station_km     67
31                  workplaces_km     63
170                 big_market_km     63
132                      num_room     63
244                     school_km     56
204                  big_road2_km     56
33              hospice_morgue_km     54
161                 industrial_km     54
155                      material     54
128       additional_education_km     53
214                    fitness_km     51
196                  big_road1_km     50
28                          ts_km     50
202                   ice_rink_km     49
218                 metro_km_avto     49
129                        ttk_km     48
57                    cemetery_km     48
144                  swim_pool_km     47
..                            ...    ...
154                railroad_1line      2
153         build_count_1921-1945      2
66              market_count_2000      2
29       cafe_count_3000_na_price      2
10                      young_all      2
69              office_count_3000      2
71                     0_6_female      2
42                       female_f      2
73               build_count_slag      1
92      cafe_count_500_price_4000      1
82                    work_female      1
81      thermal_power_plant_raion      1
188                  young_female      1
225                   7_14_female      1
94   culture_objects_top_25_raion      1
107                  16_29_female      1
232                     16_29_all      1
227    cafe_count_1500_price_2500      1
45               big_market_raion      1
187    cafe_count_5000_price_4000      1
122                      0_6_male      1
222                      7_14_all      1
220            leisure_count_5000      1
133                     ekder_all      1
147                     work_male      1
152             leisure_count_500      1
167             mosque_count_2000      1
20     cafe_count_2000_price_4000      1
176            leisure_count_1500      1
0                         ecology      1

[263 rows x 2 columns]

In [43]:
np.exp(pred)

array([ 5348592. ,  7727480. ,  4939120.5, ...,  4586150.5,  5204963. ,
        8177748. ], dtype=float32)

In [46]:
sub = pd.DataFrame({'id':test['id'],'price_doc':np.exp(pred)})
sub.to_csv('logtarget.csv',index=False)